version: '3.8'

services:
  # Service pour votre backend Node.js
  backend:
    build: .
    container_name: moov-backend
    restart: unless-stopped
    env_file: .env
    ports:
      # Mappe le port de votre application au port de la machine hôte (EC2)
      - "${PORT}:${PORT}"
    networks:
      - app-network

networks:
  # Réseau pour permettre la communication entre les conteneurs
  # Votre futur conteneur n8n pourra rejoindre ce réseau
  app-network:
    driver: bridge

volumes:
  # Le volume pour mongo-data n'est plus nécessaire
  # On garde celui pour les uploads
  uploads:
