version: '3.8'

services:
  backend:
    build: .
    container_name: moov-backend
    restart: unless-stopped
    env_file: .env
    ports:
      # On mappe le port 3000 de l'EC2 vers le port 5000 du conteneur
      - "3000:5000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  uploads:
